nav.navbar(role="navigation" aria-label="main navigation")
  div.navbar-brand
    a.navbar-item(href="#")
      img.logo(src=require("/src/assets/images/truck.jpg") alt="Лого Truck1")
div.navbar-menu
  div.navbar-start
    a.navbar-item(href="#") #{htmlWebpackPlugin.options.templateParameters.nav[0].text}
    a.navbar-item(href="#") #{htmlWebpackPlugin.options.templateParameters.nav[1].text}
    a.navbar-item(href="#") #{htmlWebpackPlugin.options.templateParameters.nav[2].text}
    a.navbar-item(href="#") #{htmlWebpackPlugin.options.templateParameters.nav[3].text}
nav.breadcrumb.has-succeeds-separator(aria-label="breadcrumbs")
  ul
    each breadcrumb, index in htmlWebpackPlugin.options.templateParameters.breadcrumbs
      if index != htmlWebpackPlugin.options.templateParameters.breadcrumbs.length-1
        li
          a(href=breadcrumb.href)= breadcrumb.text
      else
        li.is-active
          a(href=breadcrumb.href)= breadcrumb.text